<div class="new_section_mob">
<ul class="block-12/12">
<li class="faq-item cell-l cell-r bdr-b ">
<p class="h-style h3-style t-accent ct--m cb--m faq-heading js-faq-question cstomfaq">
<span><img src="https://cdn.shopify.com/s/files/1/0243/7772/0909/files/B1.png?v=1656319226"></span>SACKSAFE ADJUSTABLE GUARD & CERAMIC BLADES
</p>
<div class="rte-content rte-content--l js-faq-question cb--m t-accent" style="display:none">
<p class="faqcontent">BALLS™ Trimmer is purpose-built to minimize pulls, nicks and snags. With our SackSafe Adjustable guards choose the length you want, you're in control.</p>
</div>
</li>
<li class="faq-item cell-l cell-r bdr-b">
<p class="h-style h3-style t-accent ct--m cb--m faq-heading js-faq-question cstomfaq">
<span><img src="https://cdn.shopify.com/s/files/1/0243/7772/0909/files/B2.png?v=1656319226"></span>Waterproof & Wireless
</p>
<div class="rte-content rte-content--l js-faq-question cb--m t-accent" style="display:none">
<p class="faqcontent">Want the feeling of true freedom? The BALLS Trimmer is wireless, shower friendly and rechargeable, groom wherever you want!</p>
</div>
</li>
<li class="faq-item cell-l cell-r bdr-b">
<p class="h-style h3-style t-accent ct--m cb--m faq-heading js-faq-question cstomfaq">
<span> <img src="https://cdn.shopify.com/s/files/1/0243/7772/0909/files/B3.png?v=1656319226"></span>Guiding Groin Light
</p>
<div class="rte-content rte-content--l js-faq-question cb--m t-accent" style="display:none">
<p class="faqcontent">Light it up! The groin light will guide you into those hard to reach areas! You can finally retire your phone flashlight.</p>
</div>
</li>
<li class="faq-item cell-l cell-r bdr-b">
<p class="h-style h3-style t-accent ct--m cb--m faq-heading js-faq-question cstomfaq">
<span><img src="https://cdn.shopify.com/s/files/1/0243/7772/0909/files/B4.png?v=1656319226"></span>6200 RPM MOTOR
</p>
<div class="rte-content rte-content--l js-faq-question cb--m t-accent" style="display:none">
<p class="faqcontent">Our BALLS Specialists designed the motor to be ideally tuned for groin hair</p>
</div>
</li>
<li class="faq-item cell-l cell-r bdr-b">
<p class="h-style h3-style t-accent ct--m cb--m faq-heading js-faq-question cstomfaq">
<span><img src="https://cdn.shopify.com/s/files/1/0243/7772/0909/files/Vector_Smart_Object.png?v=1657182144"></span>BALLS™ Lotion
</p>
<div class="rte-content rte-content--l js-faq-question cb--m t-accent" style="display:none">
<p class="faqcontent">With the Ultimate Package, grab a lotion and have a fresh and free downstairs. Ready for any moment</p>
</div>
</li>
</ul>
          <div class="include">
            <h4>FREE GIFT</h4>
            <p><strong>BALLBag </strong>- Premium toiletry bag, so your toothbrush and trimmer don't touch!"</p>
        </div>
</div>


<style>
 .new_section_mob{
    margin-top: 30px;
}
.new_section_mob .cstomfaq {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-right: 20px;
  font-size: 12px;
      padding-bottom: 12px;
    padding-top: 12px;
}
.new_section_mob .bdr-b {
  border-bottom: 2px solid #ccc;
  padding-right: 12px;
  padding-left: 12px;
}
 .new_section_mob .cstomfaq span{
      display: block;
  width: 50px;
   -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  max-width: 50px;
   text-align:center;
}
   .new_section_mob .faq-item .faqcontent {
    font-size: 12px;
}
   .new_section_mob .faq-item .rte-content{
        padding-bottom: 20px;
  }
.new_section_mob .cstomfaq img{
      display: block;
  max-width: 24px;
  margin:0 auto;
}
@media only screen and (max-width: 639px) {
  .new_section_mob .cstomfaq,
  .new_section_mob .faq-item .faqcontent {
    font-size: 14px;
}

  .new_section_mob .bdr-b {
    padding-left: 0;
}
}
</style>