<div class="our_balls">
    <h2 class="heading_ball">Nos BALLS <span>sont Populaires
      <img class="icon_eye lazyloaded lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'Eyes_Emoji.png' | asset_url }}" alt="" /></span>
    </h2>
    <div class="our_balls_img">
      <div class="bg_top"></div>
  
      <div class="bg_center"></div>
      <img class="hero_img lazyloaded lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'hero.png' | asset_img_url: '600x' }}" alt="" />
      <div class="logo_group">
  
        <img class="logo_img lazyloaded lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'logos.png' | asset_img_url: '600x' }}" alt="" />
      </div>
      <div class="bg_bot"></div>
    </div>
  </div>
  <div class="section-benefits-bar-new">
    <div class="header-text">
      <div class="grid grid--f row--l text-center">
        <h2 class="t-blue head-h2">NOUS TE RENDONS <strong>PLUS GRAND</strong></h2>
      </div>
    </div>
    <div id="taller_slider" class="block-reviews d-flex flex-nowrap grid grid--f flex row-wrap block-rel">
      <div class="block-4/12 cell-l cell-r row--l  @mobile-mobile__block-6/12">
        <div class="grid grid--f flex row-wrap block-rel">
          <div class="reviews-box">
            <div class="customer-img">
             <img class="make_img lazyloaded lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0270/1190/7619/files/Icon-london-2x-blue.png?v=1655435903" alt="" />
            </div>
            <h3>ATTIRANT </h3>
            <p>La tour de Londres se distingue lorsque les buissons environnants ont été soigneusement taillés.</p>
          </div>
        </div>
      </div>
      <div class="block-4/12 cell-l cell-r row--l  @mobile-mobile__block-6/12">
        <div class="grid grid--f flex row-wrap block-rel">
          <div class="reviews-box">
            <div class="customer-img">
                  <img class="make_img lazyloaded lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0270/1190/7619/files/Icon-old-2x-blue.png?v=1655435903" alt="" />
            </div>
            <h3>BIENVEILLANT </h3>
            <p>Si tu peux aider une vieille dame à traverser la rue, tu peux dégager un chemin pour ta partenaire.</p>
          </div>
        </div>
      </div>
      <div class="block-4/12 cell-l cell-r row--l  @mobile-mobile__block-6/12">
        <div class="grid grid--f flex row-wrap block-rel">
          <div class="reviews-box">
            <div class="customer-img">
                  <img class="make_img lazyloaded lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0270/1190/7619/files/Icon-bath-2x-blue.png?v=1655435903" alt="" />
            </div>
            <h3>HYGIÉNIQUE  </h3>
            <p>Personne n'aime les endroits encombrés et puants. C'est la même chose pour toi.</p>
          </div>
        </div>
      </div>
      <div class="block-4/12 cell-l cell-r row--l  @mobile-mobile__block-6/12">
        <div class="grid grid--f flex row-wrap block-rel">
          <div class="reviews-box">
            <div class="customer-img">
                 <img class="make_img lazyloaded lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0270/1190/7619/files/Icon-100-2x-blue.png?v=1655435903" alt="" />
            </div>
            <h3>CONFIANT EN TOI</h3>
            <p>Cette connaissance intérieure rassurante que tes boules sont parfaites et prêtes à tout.</p>
          </div>
        </div>
      </div>
    </div>
  </div>