<div class="flex row-wrap align-stretch justify-center wr-product-main blade">
  <div class="block-6/12 @mobile-tablet__block-12/12 block-mfrh block-rel">
    <div class="" style="display:none;">{% render 'product__gallery' %} </div>
    {% render 'product-images-custom' %}
   
  </div>
  <div class="block-6/12 flex row-wrap align-center justify-center ct--header @mobile-tablet__block-12/12 @mobile-tablet__ct--none">
    {% render 'product_form_blade' template:template%}
  </div>
</div>