<div class="grid grid--f @mobile-mobile__row--none">
  <div class="footer-newsletter-wr flex row-wrap align-top justify-space block-10/12 block-c @mobile-tablet__block-12/12">
    <div class="cell-l cell-r block-5/12 row @mobile-tablet__block-6/12 @mobile-mobile__block-12/12">
      <h2 class="h-style h2-style t-accent">{{section.settings.heading}}</h2>
    </div>
    <div class="cell-l cell-r block-5/12 row @mobile-tablet__block-6/12 @mobile-mobile__block-12/12">
      <form  id="email_signup"
            action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" 
            method="GET" target="_blank" novalidate="novalidate">
        <div class="cell-l cell-r ct cb bg-grey block-rel">
          <input type="hidden" name="g" value="{{section.settings.formId}}">
          <input type="email" value="" name="email" id="k_id_email"  class="footer-nl__input reset-input" value="you@email.com" placeholder="Email plz">
          <button class="btn-reset footer-nl__btn t-accent "><u><strong>{{ 'general.subscribe' | t }}</strong></u></button>
        </div>
        <div class="klaviyo_messages block-12/12 ct--s">
          <div class="success_message" style="display:none;"></div>
          <div class="error_message" style="display:none;"></div>
        </div>
      </form>
    </div> 
  </div>
</div>

<script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup', {
      hide_form_on_success: true
    });
  </script>
{% schema %}
{ 
 
  "name":"global/footer-newsletter",
 
  "settings":[ 
   
   
    { 
      "type":"text",
      "id":"heading",
      "label":"heading"
    },
    { 
      "type":"text",
      "id":"formId",
      "label":"action / id"
    }
    
  ]
}
{% endschema %}
