<div class="grid grid--f flex row-wrap align-top justify-center row--l">
 
  <div class="block-10/12 block-c @mobile-tablet__block-12/12 ct--m cb--m cell-l cell-r t-accent">
    <h1 class="h-style h2-style row--m">{{page.title}}</h1>
    {% if page.content != '' %}
    <div class="rte-content">
      {{page.content}}
    </div>
    {% endif %}
  </div> 
</div>