<div class="grid grid--f flex row-wrap align-top justify-center row--l">
 
  <div class="block-10/12 block-c @mobile-tablet__block-12/12 ct--m cb--m cell-l cell-r t-accent">
    {% if page.content != '' %}
    <div class="rte-content rte-content--l bdr bdr-dash ct--l cb--l cell-l--l cell-r--l">
      {{page.content}}
    </div>
    {% endif %}
  </div> 
</div>